// BUILDING
.building{
    &-wrapper{
        position: relative;
        margin: 0 auto;
        width: 1296px;
        padding-top: 182px;
        padding-left: 90px;
        display: flex;
        padding-bottom: 225px;
    }
    &-title{
        font-size: 53.88px;
        text-transform: uppercase;
        line-height: 64.66px;
        max-width: 436px;
        color: #EA572A;
        margin-bottom: 40px;
        letter-spacing: 5.388px;
    }
    &-content{
        font-family: "Roboto Condensed",san-serif;
        max-width: 445.25px;
        line-height: 1.75;
        color:#575353;
        margin-bottom: 48px;
    }
    &-list{
        display: flex;
        list-style: none;
        flex-direction: column;
    }
    &-link{
        color: #414042;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 3.2px;
        i{
            color:$orange;
            margin-right: 30px;
            width: 36px;
        }
    }
   
    &-desc{
        margin-left: 67px;
        font-family: "Roboto Condensed", san-serif;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #414042;
        font-weight: bold;
        line-height: 21px;
    }
    &-container-right{
        img{
            width: 633px;
            height: 645px;
            position: absolute;
            transform: translate(123px,4px);
        }
    }
}