// EVENTS
.events{
    height: 1064px;
    background-color: $purple;

    &-wrapper{
        position: relative;
        max-width: 1600px;
        margin: 0 auto;
        img{
            margin: 0 auto;
        }
    }
    &-container{
        padding-left: 246px;
        position: relative;
        height: 275px;
        width: 1602px;
        background-color: #9277B5;
        transform: translate(-1px, -149px);
        display: flex;
    }
    &-desc{
        width: 667px;
        padding-top: 69px;
        display: flex;
        flex-direction: column;

        h3{
            color: white;
            text-transform: uppercase;
            font-style: italic;
            letter-spacing: 1px;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: bolder;
        }
        h2{
            font-size: 53.88px;
            color: white;
            letter-spacing: 5px;
            word-spacing: 3px;
            // font-family: "";
            margin-bottom: 10px;
        }
        p{
            color: white;
            line-height: 28px;
            letter-spacing: 1px;
            font-family: "";
            font-weight: 100;
            max-width: 446px;
        }
    }
    &-time{
        padding-top: 72.4px;
        width: 257px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #7853A2;
        img{
            color:#c4c4c4;
            width: 76px;
            height: 90px;
            margin-bottom: 23px;
        }

    


        i{
            color: white;
            font-size: 40px;
            margin-bottom: 40px;
        }
        p{
            color: white;
            font-size: 32px;
            letter-spacing: 3px;
            // font-family: "";
        }
    }
    &-address{
        color:white;
        width: 314px;
        display: flex;
        flex-direction: column;
        margin-top: 128px;
        margin-left: 39px;
        i{
            margin-right: 10px;
        }
        h2{
            padding-left: 10px;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
        p{
            margin-left: 48px;
            font-family: "Roboto", sans-serif;

        }
    }
}

.direction-container{
    gap: 1252px;
    display: flex;
    padding: 0 68px;
    margin: 0 auto;
    /* justify-content: space-between; */
    position: relative;
    /* transform: translate(53px, 366px); */
    transform: translate(22px, -366px);
}
.direction-icon{
    display: flex;
    width: 93px;
    height: 93px;
    border-radius: 50px;
    background-color:$orange;
    justify-content: center;
    align-items: center;
    i{
        color:$orange;
        font-size: 30px;
        background-color: white;
        width: 37px;
        height: 37px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}