// EXPERT
.expert{
    &-wrapper{
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
    }
    &-img{
        position: relative;
    }
    &-container{
        width: 445px;
        position: absolute;
        z-index: 1;
        color: white;
        top: 155px;
        left: 238px;
        &-top{
            height: auto; 
            padding-bottom: 30px;
            background-color: #414042;
            padding-top: 39px;
            padding-left: 45px;
            padding-right: 30px;
            h3{
                font-size: 16px;
                font-weight: bold;
                font-style: italic;
                color:$orange;  
                letter-spacing: 2px;
                word-spacing: -3px;
                margin-bottom: 2px;
            }
            h2{
                font-size: 53.88px;
                line-height: 65px;
                letter-spacing: 5.388px;
                text-transform: uppercase;
   


            }
            p{
                font-family: "Roboto Condensed", sans-serif;
                font-weight: 100;
                line-height: 19px;
                margin-bottom: 33px;
            }
            img{
                margin-bottom: 23px;
            }
        }
        &-bottom{
            display: flex;
            height: 338px;
            &-left{
                width: 63%;
                background-color: $blue;
                padding-top: 32px;
                padding-left: 46px;
                h3{
                    font-size: 16px;
                    font-weight: bold;
                    font-style: italic;
                    letter-spacing: 2px;
                    margin-bottom: 15px;    
                    line-height: 19px;  
                    word-spacing: -3px; 
                }
                p{
                    font-size: 32px;
                    max-width: 157px;
                    line-height: 39px;
                    letter-spacing: 3px;
                    word-spacing: 1px;
                }
            }
            &-right{
                width: 49%;
                display: grid;
                grid-template-rows: repeat(3,1fr);
                grid-gap: 0;
                .item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "";
                    font-size: 32px;
                    a {
                        color:white;
                    }
                    a:hover{
                        text-decoration: underline;
                    }

                }
                #item1{
                    background-color: $purple;
                }
                #item2{
                    background-color: $orange;
                }
            }
        }
    }
}