// FOOTER
.footer{
    height: 354px;
    background-color: gray;
    display: flex;
    align-items: center;
    &-wrapper{
        display: flex;
        width: 100%;
        margin-left: 268px;
        height: 93px;
        justify-content: space-between;
        // align-items: center;
    }
    &-list{
        margin-top: 30px;
        margin-bottom: 32px;
        list-style: none;
        display: flex;
        gap: 115px;
        font-size: 18px;
        text-transform: uppercase;
        a{
            color: white;
        }
    }
    &-item{
        letter-spacing: 3px;
        word-spacing: -2px;
        padding-bottom: 7px;
        border-bottom: 4px solid white;
    }
    &-item:hover{
        border-bottom: 2px solid $orange;

    }
}