// JOURNEY
.journey{
    height: auto;
    background-color: #9277b5a3;
    padding: 40px;
    &-wrapper{
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 0 ;
    }
    &-container-left{
        background-color: #fff;
        position: relative;
        padding-top: 202px;
        h2{
            font-size: 32px;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 70px;
            line-height: 38.4px;
            letter-spacing: 3px;
        }
    }
    &-left-content{
        padding-top: 3px;
        padding-left: 34px;
        position: absolute;
        width: 587px;
        right: 0;
    }
    &-title{
        font-size: 53.88px;
    letter-spacing: 5.6px;
    line-height: 64.66px;
    width: 208px;
    word-spacing: -1px;
    color: #7853A2;
    margin-bottom: 15px;
    }
    &-content{
        max-width: 430px;
        font-family: "Roboto", sans-serif;
        word-spacing: 4px;
        line-height: 1.75;
    }
}