// JOURNEY
.journey{
    height: auto;
    background-color: #e6e1f0;
    padding: 40px;
    &-wrapper{
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 0 ;
    }
    &-container-left{
        background-color: #fff;
        position: relative;
        padding-top: 202px;
        h2{
            color:#414042;
            font-size: 32px;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 70px;
            line-height: 38.4px;
            letter-spacing: 3px;
        }
    }
    &-container-right{
        transform: translateX(-5px);
    }
    &-left-content{
        padding-top: 1px;
        padding-left: 30px;
        position: absolute;
        width: 587px;
        right: 0;
    }
    &-title{
        font-size: 53.88px;
        letter-spacing: 5.6px;
        line-height: 64.66px;
        width: 208px;
        word-spacing: -1px;
        color: #7853A2;
        margin-bottom: 14px;
    }
    &-content{
        max-width: 430px;
        color:#414042;
        font-family: "Roboto Condensed", sans-serif;
        // word-spacing: 4px;
        line-height: 28px;
    }
}