// MEMBER
.member{
    background: linear-gradient(to right, #EA572A 72%, transparent 70%);
    height: 965px;
    margin-top: 19px;
    &-wrapper{
        width:1176px;
        display: flex;
        margin:0 auto;
        justify-content: space-between;
        padding-left:14px;
    }
    &-container-left{
        padding-top: 172px;
    }
    &-container-right{
        padding-top: 100px;
        transform: translateX(15px);
    }
    &-title{
        font-size: 96px;
    color: white;
    letter-spacing: 10px;
    margin-bottom: 42px;
    max-width: 625px;
    word-spacing: 1px;
    line-height: 115.2px;
    }
    &-submit-form{
        display:flex;
        flex-direction: column;
        gap:17px;
        max-width: 444px;
        .input-text{
            height: 59px;
    padding-left: 17px;
    font-size: 32px;
    border: none;
    background-color: white;
    padding-top: 4px;
    letter-spacing: 3px;
        }
        .input-btn{
            width:240px;
            height: 59px;
            // font-family: "";
            text-transform: uppercase;
            background-color: #414042;
            color:white;
            border:none;
            letter-spacing: 3px;
            font-size: 32px;
        }
        .input-btn:hover{
            background-color: #212122;

        }
        
    }
}