// PEOPLE
.people{
    padding-bottom: 50px;
    background-color: $blue;
    height: 965px;
    &-wrapper{
        
    }
    &-container-top{
        height: 257px;
        width: 1234px;
        margin: 0 auto;
        // border-left: 1px solid   white; 
        &-content{
            border-left: 2px solid white;
            margin-left: 28px;
            height: 100%;

        }

    }
    &-container-right{
        position: relative;
    }
    &-title{
        max-width: 553px;
        font-size: 53.88px;
        letter-spacing: 5.388px;
        line-height: 64.66px;
        color: white;
        padding-left: 30px;
        border-left: 2px solid white;
        margin-bottom: 37px;
        font-weight: 400;
        // word-spacing: 7px;
    
    }
    &-content{
        padding-left: 30px;
        color:white;
        font-family: "Roboto Condensed", sans-serif;
        
        line-height: 1.75;
        max-width: 463px;
        margin-bottom: 108px;
    }
    &-content-link{
        margin-left: 32px;
        max-width: 445px;
        height: 128.99px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-content-link:hover{
        background-color:#5da7d9;
        opacity:118%;
        cursor: pointer;
        .people-link{
            border-bottom:4px solid;
        }
    }
    &-link{
        padding-bottom: 10px;
        color: white;
        letter-spacing: 2.7px;
        font-size: 18px;
        line-height: 21.6px;
        // padding-left: 3px;
        margin-top: 10px;
        text-align: center;
        width: 187px;

    }
    &-container-main{
        display:flex;
        margin:0 auto;
        width:1234px;
        padding-left: 28px;
    }
    &-list{
        margin-left: 48px;
        position: absolute;
        display: flex;
        list-style: none;
        gap: 30px;
    }
    &-item{
        width: 255px;
        height: 458px;
        position:relative;
        .fa-arrow-right{
            position: absolute;
            display:block;
            bottom:14.7px;
            right:16.6px;
        }
    }
}
#people-item-1{
    background-color: #fff;
}
#people-item-1 .people-item-bottom{
    padding-top: 26px;
    padding-right: 80px;
    padding-left: 30px;
    line-height: 26.1px;
    h3{
        font-weight: 100;
        letter-spacing: 1.6px;
        text-transform: lowercase;
        margin-bottom: 38px;
        font-size: 16px;
        font-weight: 400;
        color:#414042;
    }
    span{
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        font-style: italic;
        // word-spacing: 7px;
        letter-spacing: 2.2px;
        line-height: 1.1;
    }
}
#people-item-2{
    background-color: $purple;
    .people-item-top{
        height: 241px;
        display:flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 54px;
            letter-spacing: 7px;
            color: white;
            font-weight: 100;
        }
    }
    .people-item-bottom{
        padding-top: 32px;
        padding-left: 30px;
        padding-right: 80px;
        color: white;
        h3{
            letter-spacing: 1.6px;
            margin-bottom: 41px;
            font-size: 16px;
        }
        span{
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 700;
            font-style: italic;
            word-spacing: 4px;
            letter-spacing: 1.6px;
            line-height: 26.1px;
        }
    }
}
#people-item-3{
    background-color: $orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .people-item-top{
        padding-top: 26px;
        padding-left: 30px;
        // padding-right: 30px;
        color: white;
        h3{
            letter-spacing: 2px;
            margin-bottom: 42px;
            font-size: 16px;
        }
        span{
            display:block;
            width: 155px;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 700;
            font-style: italic;
            // word-spacing: 7px;
            letter-spacing: 2.2px;
            line-height: 26.4px;
        }
    }
}