// PEOPLE
.people{
    padding-bottom: 50px;
    background-color: $blue;
    height: 965px;
    &-wrapper{
        
    }
    &-container-top{
        height: 257px;
        width: 1234px;
        margin: 0 auto;
        // border-left: 1px solid   white; 
        &-content{
            border-left: 1px solid white;
            margin-left: 17px;
            height: 100%;

        }

    }
    &-container-right{
        position: relative;
    }
    &-title{
        max-width: 553px;
        font-size: 53.88px;
        letter-spacing: 4px;
        line-height: 64.66px;
        color: white;
        padding-left: 30px;
        border-left: 1px solid white;
        margin-bottom: 37px;
        font-weight: 400;
        word-spacing: 7px;
    
    }
    &-content{
        padding-left: 30px;
        color:white;
        font-family: "Roboto", sans-serif;
        line-height: 1.75;
        max-width: 462px;
        margin-bottom: 107px;
    }
    &-content-link{
        margin-left: 30px;
        max-width: 445px;
        background-color:#ffffff47;;
        height: 128.99px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-content-link:hover{
        background-color: #70c7dd;
        .people-link{
            padding-bottom:10px;
            border-bottom:1px solid;
        }
    }
    &-link{
        color: white;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 21.66px;
    word-spacing: 3px;
    }
    &-container-main{
        display:flex;
        margin:0 auto;
        width:1234px;
        padding-left: 17px;
    }
    &-list{
        margin-left: 48px;
        position: absolute;
        display: flex;
        list-style: none;
        gap: 30px;
    }
    &-item{
        width: 255px;
        height: 458px;
    }
}
#people-item-1{
    background-color: #fff;
}
#people-item-1 .people-item-bottom{
    padding-top: 26px;
    padding-right: 80px;
    padding-left: 30px;
    line-height: 26.1px;
    h3{
        font-weight: 100;
        letter-spacing: 1px;
        text-transform: lowercase;
        margin-bottom: 36px;
        font-size: 16px;
        font-weight: 400;
    }
    span{
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 900;
        font-style: italic;
        // word-spacing: 7px;
        letter-spacing: 1px;
    }
}
#people-item-2{
    background-color: $purple;
    .people-item-top{
        height: 241px;
        display:flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 54px;
            letter-spacing: 7px;
            color: white;
            font-weight: 100;
        }
    }
    .people-item-bottom{
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 80px;
        color: white;
        h3{
            letter-spacing: 2px;
            margin-bottom: 42px;
            font-size: 16px;
        }
        span{
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 900;
            font-style: italic;
            word-spacing: 4px;
            letter-spacing: 1px;
            line-height: 26.1px;
        }
    }
}
#people-item-3{
    background-color: $orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .people-item-top{
        padding-top: 30px;
        padding-left: 30px;
        // padding-right: 30px;
        color: white;
        h3{
            letter-spacing: 2px;
            margin-bottom: 47px;
            font-size: 16px;
        }
        span{
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 900;
            font-style: italic;
            word-spacing: 7px;
            letter-spacing: 3px;
        }
    }
}