*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Built Titling", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.header-fixed {
  display: flex;
  justify-content: space-between;
  background-color: #7853A2;
  height: 128px;
  align-items: center;
}
.header-menu-list {
  display: flex;
}
.header-menu-item {
  width: 365px;
  display: flex;
  justify-content: center;
  height: 128px;
  align-items: center;
}
.header-menu-item:nth-child(3) {
  width: 305px;
  display: flex;
  justify-content: center;
  height: 128px;
  align-items: center;
}
.header-menu-link {
  color: white;
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.header-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3215686275);
}
.header-menu-item:hover .header-menu-link {
  padding: 10px;
  border-bottom: 2px solid white;
}
.header-logo {
  margin-top: 8px;
  display: flex;
  margin-right: 89px;
  align-items: center;
}
.header-logo a {
  margin-left: 41.1px;
}
.header-logo i {
  color: rgba(255, 255, 255, 0.679);
}
.header-logo .fa-shopping-cart {
  margin-left: 30px;
}
.header-logo i:hover {
  color: rgba(126, 9, 172, 0.679);
}

.header-nav {
  display: none;
}

.menu-nav {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  padding-top: 60px;
  background-color: #212121;
  transition: 0.5s;
  transform: translateX(-250px);
  z-index: 4;
}

.header-menu-list-nav {
  margin-top: 30px;
}

.header-menu-list-nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  padding-left: 25px;
}

.header-menu-list-nav li:hover {
  padding-left: 35px;
  background-color: #445665;
}

.header-menu-list-nav li a {
  display: block;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#open {
  display: none;
}

.open {
  height: 80px;
  width: 80px;
}

.open i {
  cursor: pointer;
  margin-left: 25px;
  padding: 15px 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.679);
  z-index: 99;
  position: relative;
  font-size: 27px;
}

#open:checked ~ .menu-nav {
  transition: 0.5s;
  transform: translateX(0);
}

.introduction {
  background-color: #7853A2;
  height: 838px;
}
.introduction-image-container {
  transform: translate(15px, 28px);
}
.introduction-wrapper {
  width: 1234px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 148px;
  height: 100%;
  padding-left: 17px;
}
.introduction-container {
  border-left: 1px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.introduction-content {
  padding-top: 7px;
  margin-left: 29px;
  width: 567px;
}
.introduction-content-title {
  padding-top: 7px;
  font-size: 53.88px;
  letter-spacing: 5px;
  max-width: 366px;
  line-height: 64.66px;
  color: white;
  position: relative;
  z-index: 3;
  text-transform: uppercase;
}
.introduction-content-container {
  max-width: 388px;
  position: relative;
  padding-top: 26px;
  padding-left: 47px;
  background-color: #BA4693;
  transform: translate(182px, -27px);
  z-index: 2;
}
.introduction-content-desc {
  max-width: 303px;
  line-height: 1.75;
  letter-spacing: 2px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.introduction-link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 148px;
  width: 727px;
  transform: translate(-142px, 6px);
}
.introduction-link-container i {
  font-size: 30px;
  color: white;
}
.introduction-link-container .fa-angle-down {
  font-size: 36px;
}
.introduction-content-link {
  color: white;
  letter-spacing: 3px;
  font-family: "";
  font-size: 26px;
}
.introduction-link-container:hover .introduction-content-link i {
  color: #EA572A;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.people {
  padding-bottom: 50px;
  background-color: #3994D1;
  height: 965px;
}
.people-container-top {
  height: 257px;
  width: 1234px;
  margin: 0 auto;
}
.people-container-top-content {
  border-left: 1px solid white;
  margin-left: 17px;
  height: 100%;
}
.people-container-right {
  position: relative;
}
.people-title {
  max-width: 553px;
  font-size: 53.88px;
  letter-spacing: 4px;
  line-height: 64.66px;
  color: white;
  padding-left: 30px;
  border-left: 1px solid white;
  margin-bottom: 37px;
  font-weight: 400;
  word-spacing: 7px;
}
.people-content {
  padding-left: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
  max-width: 462px;
  margin-bottom: 107px;
}
.people-content-link {
  margin-left: 30px;
  max-width: 445px;
  background-color: rgba(255, 255, 255, 0.2784313725);
  height: 128.99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people-content-link:hover {
  background-color: #70c7dd;
}
.people-content-link:hover .people-link {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.people-link {
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 21.66px;
  word-spacing: 3px;
}
.people-container-main {
  display: flex;
  margin: 0 auto;
  width: 1234px;
  padding-left: 17px;
}
.people-list {
  margin-left: 48px;
  position: absolute;
  display: flex;
  list-style: none;
  gap: 30px;
}
.people-item {
  width: 255px;
  height: 458px;
}

#people-item-1 {
  background-color: #fff;
}

#people-item-1 .people-item-bottom {
  padding-top: 26px;
  padding-right: 80px;
  padding-left: 30px;
  line-height: 26.1px;
}
#people-item-1 .people-item-bottom h3 {
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-bottom: 36px;
  font-size: 16px;
  font-weight: 400;
}
#people-item-1 .people-item-bottom span {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
}

#people-item-2 {
  background-color: #7853A2;
}
#people-item-2 .people-item-top {
  height: 241px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#people-item-2 .people-item-top span {
  font-size: 54px;
  letter-spacing: 7px;
  color: white;
  font-weight: 100;
}
#people-item-2 .people-item-bottom {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 80px;
  color: white;
}
#people-item-2 .people-item-bottom h3 {
  letter-spacing: 2px;
  margin-bottom: 42px;
  font-size: 16px;
}
#people-item-2 .people-item-bottom span {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  word-spacing: 4px;
  letter-spacing: 1px;
  line-height: 26.1px;
}

#people-item-3 {
  background-color: #EA572A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#people-item-3 .people-item-top {
  padding-top: 30px;
  padding-left: 30px;
  color: white;
}
#people-item-3 .people-item-top h3 {
  letter-spacing: 2px;
  margin-bottom: 47px;
  font-size: 16px;
}
#people-item-3 .people-item-top span {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  word-spacing: 7px;
  letter-spacing: 3px;
}

.journey {
  height: auto;
  background-color: rgba(146, 119, 181, 0.6392156863);
  padding: 40px;
}
.journey-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 0;
}
.journey-container-left {
  background-color: #fff;
  position: relative;
  padding-top: 202px;
}
.journey-container-left h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 70px;
  line-height: 38.4px;
}
.journey-left-content {
  padding-left: 16px;
  position: absolute;
  width: 587px;
  right: 0;
}
.journey-title {
  font-size: 53.88px;
  letter-spacing: 5.6px;
  line-height: 64.66px;
  width: 208px;
  word-spacing: -1px;
  color: #7853A2;
  margin-bottom: 15px;
}
.journey-content {
  max-width: 430px;
  font-family: "Roboto", sans-serif;
  word-spacing: 4px;
  line-height: 1.75;
}

.events {
  height: 1064px;
  background-color: #7853A2;
}
.events-wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}
.events-wrapper img {
  margin: 0 auto;
}
.events-container {
  padding-left: 246px;
  position: relative;
  height: 275px;
  width: 1602px;
  background-color: #9277B5;
  transform: translate(-1px, -149px);
  display: flex;
}
.events-desc {
  width: 667px;
  padding-top: 69px;
  display: flex;
  flex-direction: column;
}
.events-desc h3 {
  color: white;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bolder;
}
.events-desc h2 {
  font-size: 53.88px;
  color: white;
  letter-spacing: 5px;
  word-spacing: 3px;
  margin-bottom: 10px;
}
.events-desc p {
  color: white;
  line-height: 28px;
  letter-spacing: 1px;
  font-family: "";
  font-weight: 100;
  max-width: 446px;
}
.events-time {
  padding-top: 72.4px;
  width: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7853A2;
}
.events-time img {
  color: #c4c4c4;
  width: 76px;
  height: 90px;
  margin-bottom: 23px;
}
.events-time i {
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
}
.events-time p {
  color: white;
  font-size: 32px;
  letter-spacing: 3px;
}
.events-address {
  color: white;
  width: 314px;
  display: flex;
  flex-direction: column;
  margin-top: 128px;
  margin-left: 39px;
}
.events-address i {
  margin-right: 10px;
}
.events-address h2 {
  padding-left: 10px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.events-address p {
  margin-left: 48px;
  font-family: "Roboto", sans-serif;
}

.direction-container {
  gap: 1252px;
  display: flex;
  padding: 0 68px;
  margin: 0 auto;
  /* justify-content: space-between; */
  position: relative;
  /* transform: translate(53px, 366px); */
  transform: translate(22px, -366px);
}

.direction-icon {
  display: flex;
  width: 93px;
  height: 93px;
  border-radius: 50px;
  background-color: #EA572A;
  justify-content: center;
  align-items: center;
}
.direction-icon i {
  color: #EA572A;
  font-size: 30px;
  background-color: white;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.building-wrapper {
  position: relative;
  margin: 0 auto;
  width: 1296px;
  padding-top: 144px;
  padding-left: 74px;
  display: flex;
  padding-bottom: 225px;
}
.building-title {
  font-size: 53.88px;
  text-transform: uppercase;
  line-height: 64.66px;
  max-width: 436px;
  color: #EA572A;
  margin-bottom: 39px;
  word-spacing: 3px;
  letter-spacing: 5.1px;
}
.building-content {
  font-family: "Roboto", san-serif;
  max-width: 445.25px;
  line-height: 1.75;
  color: #575353;
  margin-bottom: 48px;
}
.building-list {
  display: flex;
  list-style: none;
  gap: 5px;
  flex-direction: column;
}
.building-link {
  color: #575353;
  font-size: 32px;
  line-height: 39px;
  /* word-spacing: 0px; */
  letter-spacing: 3px;
}
.building-link i {
  color: #EA572A;
  margin-right: 31px;
  width: 36px;
}
.building-link:hover {
  text-decoration: underline;
  text-decoration-color: #EA572A;
}
.building-desc {
  margin-left: 69px;
  font-family: "";
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.building-container-right img {
  width: 633px;
  height: 645px;
  position: absolute;
  transform: translate(115px, 5px);
}

.member {
  background: linear-gradient(to right, #EA572A 72%, transparent 70%);
  height: 965px;
  margin-top: 19px;
}
.member-wrapper {
  width: 1176px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 14px;
}
.member-container-left {
  padding-top: 172px;
}
.member-container-right {
  padding-top: 100px;
  transform: translateX(15px);
}
.member-title {
  font-size: 96px;
  color: white;
  letter-spacing: 10px;
  margin-bottom: 42px;
  max-width: 625px;
  word-spacing: 1px;
  line-height: 115.2px;
}
.member-submit-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  max-width: 444px;
}
.member-submit-form .input-text {
  height: 59px;
  padding-left: 17px;
  font-size: 32px;
  border: none;
  background-color: white;
  padding-top: 4px;
  letter-spacing: 3px;
}
.member-submit-form .input-btn {
  width: 240px;
  height: 59px;
  text-transform: uppercase;
  background-color: #414042;
  color: white;
  border: none;
  letter-spacing: 3px;
  font-size: 32px;
}
.member-submit-form .input-btn:hover {
  background-color: #212122;
}

.expert-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.expert-img {
  position: relative;
}
.expert-container {
  width: 445px;
  position: absolute;
  z-index: 1;
  color: white;
  top: 158px;
  left: 244px;
}
.expert-container-top {
  height: auto;
  padding-bottom: 30px;
  background-color: #414042;
  padding-top: 39px;
  padding-left: 45px;
  padding-right: 30px;
}
.expert-container-top h3 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #EA572A;
  letter-spacing: 2px;
  word-spacing: -3px;
  margin-bottom: 2px;
}
.expert-container-top h2 {
  font-size: 53.88px;
  line-height: 65px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: -1px;
  word-spacing: -3px;
}
.expert-container-top p {
  font-family: "Roboto Consended", sans-serif;
  font-weight: 100;
  line-height: 19px;
  margin-bottom: 33px;
}
.expert-container-top img {
  margin-bottom: 23px;
}
.expert-container-bottom {
  display: flex;
  height: 338px;
}
.expert-container-bottom-left {
  width: 63%;
  background-color: #3994D1;
  padding-top: 32px;
  padding-left: 46px;
}
.expert-container-bottom-left h3 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 15px;
  line-height: 19px;
  word-spacing: -3px;
}
.expert-container-bottom-left p {
  font-size: 32px;
  max-width: 157px;
  line-height: 39px;
  letter-spacing: 3px;
  word-spacing: 1px;
}
.expert-container-bottom-right {
  width: 49%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;
}
.expert-container-bottom-right .item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "";
  font-size: 32px;
}
.expert-container-bottom-right .item a {
  color: white;
}
.expert-container-bottom-right .item a:hover {
  text-decoration: underline;
}
.expert-container-bottom-right #item1 {
  background-color: #7853A2;
}
.expert-container-bottom-right #item2 {
  background-color: #EA572A;
}

.map {
  background-color: #9277B5;
}
.map-wrapper {
  width: 1595px;
  position: relative;
  padding: 39px 32px;
  margin: 0 auto;
}
.map-img {
  width: 100%;
  height: auto;
}
.map-content {
  max-width: 919px;
  height: auto;
  min-height: 572px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -271px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}
.map-content-left {
  padding-left: 36px;
  padding-top: 37px;
  width: 366px;
  background-color: #7853A2;
  height: auto;
  padding-bottom: 30px;
}
.map-content-left h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 36px;
  word-spacing: 3px;
  letter-spacing: 4px;
}
.map-content-left .map-desc, .map-content-left .map-number {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 40px;
  padding-right: 30px;
}
.map-content-left .map-number {
  margin-bottom: 52px;
  font-size: 32px;
}
.map-content-left .map-number i {
  margin-right: 5px;
}
.map-content-left span {
  margin-bottom: 50px;
}
.map-content-right {
  width: 553px;
  background-color: #414042;
  padding-top: 37px;
  padding-left: 35px;
}
.map-content-right h2 {
  font-size: 48px;
  letter-spacing: 5px;
  word-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.map-content-right-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 482px;
  margin-left: 2px;
}
.map-content-right-form input {
  background-color: #58595B;
  color: white;
  border: none;
  height: 59px;
  padding-left: 19px;
  letter-spacing: 3px;
  padding-top: 19px;
}
.map-content-right-form input::placeholder, .map-content-right-form #message::placeholder {
  color: white;
  font-size: 32px;
}
.map-content-right-form #message {
  padding-top: 12px;
  letter-spacing: 3px;
  height: 168px;
  background-color: #58595B;
  color: white;
  border: none;
  padding-left: 19px;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: -8px;
}
.map-content-right-form .input-btn {
  background-color: #EA572A;
  color: white;
  text-transform: uppercase;
  max-width: 240px;
  padding: 0;
  font-size: 32px;
  letter-spacing: 3px;
  margin-left: -2px;
}
.map-media {
  display: flex;
  gap: 20px;
  height: auto;
  margin-bottom: 53px;
}
.map-media i {
  font-size: 42px;
}
.map-media i:hover {
  font-size: 42px;
  color: #EA572A;
}
.map-visit {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.map-visit i {
  margin-right: 19px;
}

.footer {
  height: 354px;
  background-color: gray;
  display: flex;
  align-items: center;
}
.footer-wrapper {
  display: flex;
  width: 100%;
  margin-left: 268px;
  height: 93px;
  justify-content: space-between;
}
.footer-list {
  margin-top: 30px;
  margin-bottom: 32px;
  list-style: none;
  display: flex;
  gap: 115px;
  font-size: 18px;
  text-transform: uppercase;
}
.footer-list a {
  color: white;
}
.footer-item {
  letter-spacing: 3px;
  word-spacing: -2px;
  padding-bottom: 7px;
  border-bottom: 4px solid white;
}
.footer-item:hover {
  border-bottom: 2px solid #EA572A;
}

.container {
  min-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 1920px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024.98px) {
  .container {
    min-width: 1025px;
  }
  .header-logo {
    margin-top: 0;
    margin-right: 10px;
  }
  .header-menu-item {
    width: 250px;
  }
  .header-menu-item:nth-child(3) {
    width: 250px;
  }
  .introduction-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 148px;
    height: 100%;
    padding-left: 0;
  }
  .introduction-container {
    display: flex;
    flex-direction: column;
  }
  .introduction-link-container {
    width: 100%;
    transform: none;
  }
  .introduction-image-container {
    transform: translate(385px, -600px);
  }
  .people-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .people-container-top {
    height: 257px;
    width: 100%;
    margin: 0 auto;
  }
  .people-container-top-content {
    margin-left: 0;
  }
  .people-container-main {
    padding-left: 0;
  }
  .people-list {
    margin-left: 30px;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-gap: 0 5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .people-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .people-list > * {
    scroll-snap-align: start;
  }
  .journey-container-left {
    background-color: #fff;
    position: relative;
    padding-top: 40px;
  }
  .journey-left-content {
    padding-left: 30px;
    position: relative;
    right: 0;
    width: 100%;
  }
  .journey-left-content h2 {
    margin-bottom: 42px;
  }
  .events {
    height: 736px;
  }
  .events-container {
    padding-left: 0px;
    position: relative;
    width: 100%;
    background-color: #7853A2;
    transform: translate(-1px, -144px);
    display: flex;
  }
  .events-desc {
    display: flex;
    width: 50%;
    align-items: normal;
    padding-top: 30px;
    padding-left: 30px;
    justify-content: center;
  }
  .events-time {
    justify-content: center;
    padding-top: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6b35a8;
  }
  .events-address {
    color: white;
    padding-top: 0px;
    margin: 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .events-address h2 {
    display: flex;
    font-size: 24px;
    letter-spacing: 4px;
  }
  .direction-container {
    gap: 0;
    width: 90%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    transform: translateY(-366px);
  }
  .direction-icon {
    display: flex;
    width: 63px;
    height: 63px;
    border-radius: 50px;
    background-color: #EA572A;
    justify-content: center;
    align-items: center;
  }
  .building-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 200px;
    padding-left: 30px;
    display: flex;
    padding-bottom: 125px;
  }
  .building-container-right img {
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(20px, 10px);
  }
  .member-container-right img {
    transform: translateX(-195px);
  }
  .expert-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  .expert-container {
    margin: 0 auto;
    width: 80%;
    z-index: 1;
    color: white;
    transform: translate(-133px, -70px);
    display: flex;
  }
  .expert-container-top {
    opacity: 0.8;
    width: 70%;
  }
  .expert-container-top:hover {
    opacity: 1;
  }
  .expert-container-bottom {
    display: flex;
    height: 338px;
    opacity: 0.8;
  }
  .expert-container-bottom:hover {
    opacity: 1;
  }
  .expert-container-bottom-left {
    width: 54%;
    background-color: #3994D1;
    padding-top: 38px;
    padding-left: 40px;
    padding-bottom: 16px;
    height: 225px;
  }
  .expert-container-bottom-left p {
    font-size: 32px;
    max-width: max-content;
  }
  .map-wrapper {
    width: 100%;
    position: relative;
    padding: 30px;
    margin: 0 auto;
  }
  .map-content {
    opacity: 0.8;
    min-height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  .map-content:hover {
    opacity: 1;
  }
  .map-content-left {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 43px;
    width: 366px;
    background-color: #7853A2;
    height: auto;
    padding-bottom: 30px;
  }
  .map-content-right {
    padding-bottom: 10px;
  }
  .map-content-left h2 {
    font-size: 48px;
    margin-bottom: 25px;
    font-family: "";
    word-spacing: 3px;
    letter-spacing: 4px;
  }
  .map-content-left .map-desc, .map-content-left .map-number {
    margin-bottom: 25px;
  }
  .map-media {
    display: flex;
    gap: 20px;
    height: auto;
    margin-bottom: 25px;
  }
  .map-content-right-form input {
    height: 51px;
  }
  .footer {
    height: 170px;
  }
  .footer-wrapper {
    margin-left: 30px;
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-logo img {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .container {
    min-width: 360px;
  }
  .header-nav {
    display: inline-block;
    position: relative;
  }
  .header-menu {
    display: none;
  }
  .header-logo {
    margin-right: 20px;
  }
  .header .open i {
    position: relative;
    z-index: 99;
  }
}
@media screen and (max-width: 768px) {
  .introduction-wrapper {
    width: 90%;
  }
  .introduction-container {
    padding-bottom: 30px;
  }
  .introduction-content-container {
    transform: translate(40px, -35px);
  }
  .introduction-image-container {
    transform: translate(159px, -600px);
  }
}
@media screen and (max-width: 768px) {
  .people {
    height: auto;
  }
  .people-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .people-container-top {
    height: 160px;
  }
  .people-container-main {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column-reverse;
  }
  .people-container-right {
    position: static;
    margin-bottom: 30px;
    border-left: 1px solid white;
  }
  .people-container-left {
    width: 100%;
  }
  .people-content {
    max-width: 90%;
  }
  .people-content-link {
    max-width: 90%;
    font-family: "";
  }
  .people-list {
    margin-left: 30px;
    position: relative;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-gap: 0 5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .people-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .people-list > * {
    scroll-snap-align: start;
  }
}
@media screen and (max-width: 768px) {
  .journey-wrapper {
    display: flex;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: auto;
    flex-direction: column;
  }
  .journey-container-left {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    display: flex;
  }
  .journey-left-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .journey-title {
    width: 85%;
    font-size: 5.3rem;
  }
  .journey-content {
    max-width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .events {
    height: auto;
  }
  .events-wrapper img {
    margin: 0;
  }
  .events-container {
    gap: 20px 0;
    width: 100%;
    background-color: #7853A2;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    transform: none;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
  }
  .events-desc {
    width: 90%;
    padding-top: 0;
  }
  .events-desc p {
    max-width: 100%;
  }
  .events-time {
    margin-bottom: 20px;
    height: 195px;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  .events-time i {
    margin-bottom: 0;
  }
  .events-address {
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .direction-icon {
    display: flex;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-color: #EA572A;
    justify-content: center;
    align-items: center;
  }
  .direction-container {
    align-items: center;
    display: flex;
    padding: 0 44px;
    justify-content: space-between;
    position: relative;
    transform: translateY(-234px);
  }
}
@media screen and (max-width: 768px) {
  .building-wrapper {
    width: 90%;
    padding-top: 55px;
    padding-left: 0;
    padding-bottom: 30px;
    flex-direction: column-reverse;
  }
  .building-container-right img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    position: relative;
    transform: none;
  }
  .building-container-left {
    padding-bottom: 30px;
  }
  .building-content {
    max-width: 100%;
  }
  .building-list {
    align-items: center;
  }
  .building-title {
    text-align: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .member {
    height: auto;
    padding-bottom: 30px;
    background: linear-gradient(to right, #EA572A 60%, transparent 100%);
  }
  .member-wrapper {
    width: 90%;
    flex-direction: column-reverse;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
  }
  .member-container-left {
    padding-top: 100px;
  }
  .member-container-right {
    padding-top: 100px;
    transform: none;
  }
  .member-title {
    max-width: 100%;
  }
  .member-container-right img {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .expert-container {
    display: block;
    opacity: 1;
    width: 100%;
    color: white;
    position: static;
    transform: none;
  }
  .expert-container-top {
    opacity: 1;
    width: 100%;
  }
  .expert-container-bottom {
    opacity: 1;
  }
  .expert-container-bottom-left {
    height: auto;
    display: flex;
    width: 54%;
    background-color: #3994D1;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
  }
  .expert-container-bottom-left p {
    font-size: 40px;
    min-width: 157px;
    max-width: 100%;
    line-height: 1.3;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  .expert-container-bottom-right {
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .map-wrapper {
    width: 90%;
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
  }
  .map-content {
    opacity: 1;
    width: 100%;
    height: auto;
    min-height: 574px;
    position: relative;
    transform: none;
    color: white;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  .map-content-left {
    width: 50%;
  }
  .map-content-right {
    width: 50%;
    padding-right: 30px;
  }
  .map-number, .map-media {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .footer-wrapper {
    display: flex;
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 599.98px) {
  .introduction-link-container {
    width: 90%;
  }
  .introduction-content {
    width: 100%;
  }
  .direction-container {
    align-items: center;
    display: flex;
    padding: 0 44px;
    justify-content: space-between;
    position: relative;
    transform: translateY(-175px);
  }
  .map-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .map-content-left, .map-content-right {
    padding-bottom: 30px;
    width: 100%;
  }
  .map-media {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer {
    height: auto;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }
  .footer-wrapper {
    display: flex;
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    align-items: flex-start;
  }
  .footer-list {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: "";
    font-size: 18px;
    flex-direction: column;
    margin-top: 30px;
  }
}
@media (min-width: 343px) and (max-width: 500px) {
  .introduction-container {
    position: relative;
  }
  .introduction-image-container {
    position: absolute;
    transform: translate(8px, -105px);
  }
  .introduction-content-title {
    font-size: 4.5rem;
  }
  .introduction-content-container {
    transform: none;
    padding-left: 10px;
    min-width: 242px;
  }
  .building-item {
    width: 100%;
  }
  .journey-title {
    font-size: 4.3rem;
  }
  .events-desc h2 {
    font-size: 4.3rem;
  }
  .events-address h2 {
    font-size: 31px;
  }
  .direction-container {
    align-items: center;
    display: flex;
    padding: 0 44px;
    justify-content: space-between;
    position: relative;
    transform: translateY(-114px);
  }
  .building-link {
    color: #575353;
    font-size: 27px;
    line-height: 1.2;
  }
  .building-title {
    text-align: left;
    max-width: 100%;
  }
  .member-title {
    font-size: 66px;
    word-spacing: 2px;
    line-height: normal;
  }
  .events-desc {
    padding-left: 0;
  }
}
@media screen and (max-width: 390.98px) {
  .introduction-content-title {
    font-size: 4.5rem;
  }
}

/*# sourceMappingURL=app.css.map */
